<div class="container">
 <div class="row">
  <div class="col-md-6 order-sm-first">
   <a href="dirac-bash-command-line-schedule">
    <h3>
     Bash Shell: Using the Command Line
    </h3>
   </a>
   See course schedule for lesson details
  </div>
  <div class="col-md-6 order-sm-last">
   <a href="dirac-test-document-review-schedule">
    <h3>
     Testing, Documenting, and Reviewing Code
    </h3>
   </a>
   See course schedule for lesson details
  </div>
  <div class="col-md-6 order-sm-first">
   <a href="dirac-version-control-schedule">
    <h3>
     Version Control with Git
    </h3>
   </a>
   See course schedule for lesson details
  </div>
  <div class="col-md-6 order-sm-last">
   <a href="dirac-code-scaling-schedule">
    <h3>
     Principles of Codes Scaling
    </h3>
   </a>
   See course schedule for lesson details
  </div>
  <div class="col-md-6 order-sm-first">
   <a href="dirac-software-engineering-schedule">
    <h3>
     Principles of Software Engineering
    </h3>
   </a>
   See course schedule for lesson details
  </div>
 </div>
</div>